html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
/* 	height: 100%;

  background-image: url('./bamboo.jpg');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  */
}

h1 {
  margin: 0;
}

.bamboozle {
  font-family: monospace;
  font-size: 10em;
  text-align: center;
  word-break: break-all;

  color: whitesmoke;
}

.static {
min-height: 20em;
background: url('./bamboo.jpg') 50% 50% fixed; /* backgroung-attachment:  fixed;*/
background-size: cover;
}

.slide {
min-height: 20em;
background-image: url('cvivy.jpg');
}